<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Student Project Portfolio</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="projportstyle.css">
	<link rel="icon" href="favicon (1).ico">
</head>
<body>
	<div class="banner">
		<div class="navbar">
			<img src="images/SPP logo.png.jpg" class="logo">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="about.html">About</a></li>
				<!-- <li><a href="searchindex.php">Search</a></li> -->
				<!-- <li><a href="Studentprojectportfolio.html">Logout</a></li> -->
				
				
		      </ul>
		</div>
		<div class="row">
        	     <div class="content">
			<h1>HEY WELCOME!</h1>
			
			<h6>Select View Explore Learn</h6>
			<br>
			<h3>Do you want to?</h3>
			<br>
			<div>
	<!-- 		    <button onclick="window.location.href='sample.php'"class="button"><span></span>USER</button>   -->
				<button onclick="window.location.href='register.php'"class="button"><span></span>REGISTER</button>
			    <button onclick="window.location.href='login.php'"class="button"><span></span>LOGIN</button>

				
		      </div>
		</div>
      </div>
</body>
</html>